{% extends 'base.html' %} <!-- унаследовали base -->
{% load static %} <!-- Python тег --> <!-- Django template language -->


{% block content %} <!-- переопределяем block content из base -->
    <div class="section-top">
        <img src="{% static 'img/slider.jpg' %}" class="img-responsive">
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
            <!--  {{ products }} --> <!--  Из landin.views.home импортируются
            все переменные (products) в QuerySet-->
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Новинки
                    </h1>
                </div>
                {% for product_image in products_images %} <!--  products_images - название
                переменной с view (landin.views.home)-->
                    {% include 'landing/all_product_item_home.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section-delivery">
        <div>
            <h3>Бесплатная доставка</h3>
        </div>
    </div>
    <div class="section section2 phones-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Телефоны
                    </h1>
                </div>
                {% for product_image in products_images_phones %}
                    {% include 'landing/all_product_item_home.html' %}
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="section section3 laptops-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Ноутбуки
                    </h1>
                </div>
                {% for product_image in products_images_laptops %}
                    {% include 'landing/all_product_item_home.html' %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}